/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

/* Styles */


// Layout component styles
.main-menu{

  background-color: black;
  color: white;

  a {
    display: inline-block;
    /*border: 1px solid blue;*/
    border-left: none;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: bold;
    color: inherit;
    padding: 10px;

    &.active {
      background: gray;
    }
  }

  .languageBtn {
    float: right;
    border: 1px solid red;
    padding: 9px;
  }
}

  .details-menu a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;

    &.active{
      font-weight: bold;
    }
  }

.switch-board{

  a {
    width: 19%; /*because of the borders?*/
    float: left;
    height: 250px;
    border:  1px solid aqua;
  }

  a.index, a.sun,
  a.kuiper_belt, a.oort_cloud {
    width: 49%;
  }

}

.item-menu{

  background-color: #60b044;
  margin: 10px;

  span.itemName {
    color: black;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 20px;
  }

  a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;

    &.active {
      background: green;
      color: white;
    }
  }
}

