/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

/* Styles */

// Homepage component styles
/*.left_column, toDo delete when homepage is gone
.right_column {
  background-color: pink;
  display: inline-block;
  width: 25%;

  .home_link {
    display: block;
    margin: 40px 0;
    text-align: center;
  }
}

.central_column {
  width: 50%;
  text-align: center;
  display: inline-block;
}*/

// Layout component styles
.main-menu a {
  display: inline-block;
  border: 1px solid blue;
  border-left: none;
  text-transform: capitalize;
  text-decoration: none;

  &.active{
    background: silver;
  }
}

.details-menu a {
  display: inline-block;
  text-decoration: none;
  padding: 10px;

  &.active{
    font-weight: bold;
  }
}

.switch-board.main-menu{

  a {
    width: 19%; /*because of the borders?*/
    float: left;
    height: 250px;
    border:  1px solid aqua;
  }

  a.index, a.sun {
    width: 49%;
  }
}

.switch-board.solar_system.details-menu{

  a {
    width: 19%; /*because of the borders?*/
    float: left;
    height: 250px;
    border:  1px solid aqua;
  }
}
